.container {
  height: 100vh;
  width: 70vw;
}
.imgBox {
  position: relative;
  color: white;
  background: rgb(61, 61, 61);
}
.imgBox img {
  filter: brightness(50%);
}
.heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  letter-spacing: 5px;
  font-weight: bold;
}

.input-group {
  border: 1px solid lightgray;
  padding: 5px;
}
.input-group-text {
  border: none;
  background-color: white;
}
.form-control {
  border: none;
}
.form {
  height: 90%;
}
.btn,
.btn:hover {
  width: max-content;
  color: white;
  border: none;
}
