* {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
.error {
  font-size: 0.9rem;
  color: red;
}
#completeTask {
  opacity: 0.5;
}
.container {
  /* background-color: red; */
  height: 100vh;
  width: 100vw;
  display: flex;
}
.formContainer {
  box-sizing: border-box;
  background-color: #d8d8d8;
  padding: 20px;
  /* flex: 3; */
  width: 20%;
}
form {
  /* border: 1px solid black; */
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

form input,
textarea,
#taskCategory {
  padding: 5px;
  border: none;
  border-radius: 3px;
  margin: 7px 5px;
  width: 100%;
  resize: none;
  border: 1px solid black;
}
input[type="radio"] {
  width: auto;
}

#addTaskButton {
  width: max-content;
  padding: 5px 20px;
  background-color: rgb(41, 41, 41);
  color: white;
}
#addTaskButton:hover {
  cursor: pointer;
  box-shadow: 0 0 5px black;
  background-color: rgb(76, 75, 75);
}

.taskContainer {
  display: flex;
  box-sizing: border-box;
  padding: 20px;
  /* background-color: #b2ff58; */
  width: 100%;
  /* overflow-y: scroll; */
}
.AlltaskContainer,
.categoryTaskContainer {
  /* border: 1px solid black; */

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  height: auto;
}
.AllTasklist,
.categoryTasklist {
  /* border: 1px solid black; */
  height: auto;
  overflow-y: scroll;
}
.AllTasklist h3 {
  color: gray;
  margin-top: 1rem;
}
#filterCategory {
  margin-top: 10px;
  padding: 5px;
  width: 80%;
}
.categoryTasklist h2 {
  margin-top: 1rem;
  color: red;
}
.task {
  background-color: #f3f3f3;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px 5px;
  box-shadow: 0px 0px 6px rgb(119, 119, 119);
  width: 90%;
  /* height: 20%; */
}
.taskControl {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
}
.buttonGroup button {
  border: none;
  border-radius: 100%;
  padding: 3px 10px;
  width: max-content;
}
.buttonGroup button:nth-child(1) {
  background-color: #b2ff58;
}
.buttonGroup button:nth-child(2) {
  background-color: #9999ff;
}
.buttonGroup button:nth-child(3) {
  background-color: #ff8888;
}
.buttonGroup button:hover {
  cursor: pointer;
}
.taskHead {
  font-size: 1.2rem;
  font-weight: bold;
}
/* .taskInfo span {
  margin-top: 5px;
  font-size: 0.9rem;
  opacity: 0.8;
} */
.taskDetail {
  font-size: 1.1rem;
  font-weight: 500;
  color: black;
  padding: 20px 0px;
}
.duedate {
  color: #ff9292;
  font-size: 0.8rem;
  font-weight: 500;
  opacity: 0.8;
}

.timeStatus,
.taskInfo {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  opacity: 0.8;
}
