* {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
.error {
  font-size: 0.9rem;
  color: red;
}
.container {
  /* background-color: red; */
  height: 100vh;
  width: 100vw;
  display: flex;
}
.formContainer {
  box-sizing: border-box;
  background-color: #d8d8d8;
  padding: 20px;
  /* flex: 3; */
  width: 20%;
}
form {
  /* border: 1px solid black; */
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

form input,
textarea {
  padding: 5px;
  border: none;
  border-radius: 3px;
  margin: 5px;
  width: 100%;
  resize: none;
  border: 1px solid black;
}
input[type="radio"] {
  width: auto;
}
#addTaskButton {
  width: max-content;
  padding: 5px 20px;
  background-color: rgb(41, 41, 41);
  color: white;
}
#addTaskButton:hover {
  cursor: pointer;
  box-shadow: 0 0 5px black;
  background-color: rgb(76, 75, 75);
}
.taskContainer {
  box-sizing: border-box;
  /* background-color: #e8e8e8; */
  padding: 20px;
  /* flex: 10; */
  width: 80%;
  overflow-y: scroll;
}
.taskList {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
.task {
  background-color: #f3f3f3;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px 0px;
  box-shadow: 0px 0px 5px black;
  width: 45%;
  /* height: 20%; */
}
.taskControl {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
}
.buttonGroup button {
  border: none;
  border-radius: 100%;
  padding: 3px 10px;
}
.buttonGroup button:nth-child(1) {
  background-color: #9999ff;
}
.buttonGroup button:nth-child(2) {
  background-color: #ff8888;
}
.buttonGroup button:hover {
  cursor: pointer;
}
.taskHead {
  font-size: 1.2rem;
  font-weight: bold;
}
.taskDetail {
  font-size: 0.9rem;
  padding: 20px 0px;
}
.timeStatus {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  font-size: 0.7rem;
  font-weight: 500;
  opacity: 0.8;
}
