<section class="py-5">
  <div class="container">
    <div class="row gx-5">
      <aside class="col-lg-6">
        <div
          class="boxshadow rounded-1 mb-3 d-flex justify-content-center h-100"
        >
          <img
            class="rounded-4 fit img"
            src="http://localhost:1337{{
              product.product_image.data[0].attributes.url
            }}"
          />
        </div>
      </aside>

      <!-- product description -->
      <main class="col-lg-6 border rounded-4">
        <div class="p-5">
          <h4 class="title text-dark">{{ product.product_name }}</h4>
          <div class="d-flex flex-row my-3">
            <div class="text-warning mb-1 me-2">
              <span>Rating : </span>
              <span class="ms-1"> {{ product.Rating }} </span>
            </div>
          </div>

          <div class="mb-3">
            <span class="h5"> Price : {{ product.price }} &#8377;</span>
            <!-- <span class="text-muted">/per box</span> -->
          </div>
          <hr />
          <h5 class="title text-dark">Description</h5>

          <p>{{ product.product_description }}</p>
          <hr />
          <div class="row">
            <dt class="col-3">Weight</dt>
            <dd class="col-9">{{ product.weight }}</dd>

            <dt class="col-3">Color</dt>
            <dd class="col-9">{{ product.color }}</dd>

            <dt class="col-3">Dimension</dt>
            <dd class="col-9">{{ product.dimension }}</dd>

            <dt class="col-3">Manufacturer</dt>
            <dd class="col-9">
              {{
                product.manufacturer_company
                  ? product.manufacturer_company
                  : "NA"
              }}
            </dd>
          </div>
          <hr />

          <div class="row mb-4">
            <!-- col.// -->
            <div class="col-md-4 col-6 mb-3"></div>
          </div>
          <a routerLink="/home" class="btn btn-primary shadow-0">
            <i class="me-1 fa fa-shopping-basket"></i> Go Back
          </a>
          <a class="btn btn-primary shadow-0 m-2" (click)="addTocard()">
            <i class="me-1 fa fa-shopping-basket"></i> Add to cart
            <span class="spinner-border" role="status" *ngIf="isloading"></span>
          </a>
        </div>
      </main>
    </div>
    <div class="my-5">
      <h2>Product May You Like</h2>
      <div class="d-flex">
        <div
          class="card m-2 d-flex"
          style="width: 18rem"
          *ngFor="let product of productsData; let i = index"
        >
          <img
            src="http://localhost:1337{{
              product.attributes.product_image.data[0].attributes.url
            }}"
            class="p-3"
            alt="{{ product.attributes.product_name }}"
            (click)="viewProductDetails(product.id)"
          />
          <div class="card-body">
            <h5 class="card-title">{{ product.attributes.product_name }}</h5>
            <p class="card-text">{{ product.attributes.price }} &#8377;</p>
            <div class="d-flex justify-content-between">
              <!-- <button class="btn btn-primary" (click)="addTocard(product.id, i)">
              Add to cart
              <span
                class="spinner-border"
                role="status"
                *ngIf="isloading[i]"
              ></span>
            </button>

            <button class="btn" (click)="addToWishlist(product.id, i)">
              <i class="bi bi-heart mx-1" *ngIf="!iswishlistloading[i]"></i>
              <span
                class="spinner-border"
                style="color: white"
                role="status"
                *ngIf="iswishlistloading[i]"
              ></span>
            </button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
